<%= form_with(model: @query, html: { class: 'grid gap-3' }) do |form| %>
  <%= form.text_field :domain, label: false, placeholder: 'd53.co',
    required: true, autocomplete: "off", autocorrect: "off",
    autocapitalize: "off", spellcheck: "false", autofocus: @query&.domain.blank? %>
  <div class="grid grid-cols-3 gap-3">
    <%= form.select :type, Query.types, { class: 'form-field__input col-span-1' } %>
    <%= form.select :server, Query.servers.keys, {}, { class: 'form-field__input col-span-2' } %>
  </div>
  <%= form.submit 'Search' %>
<% end %>
