<div class="space-y-8">
  <%= render 'form' %>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-3 bg-black p-4 rounded-lg sm:text-lg border-2 border-neutral-800">
    <div class="flex flex-col sm:col-span-3">
      <span class="text-lime-500 font-semibold">Domain</span>
      <span><%= @query.domain %></span>
    </div>
    <div class="flex flex-col">
      <span class="text-lime-500 font-semibold">Type</span>
      <span><%= @query.type %></span>
    </div>
    <div class="flex flex-col sm:col-span-3">
      <span class="text-lime-500 font-semibold">Server</span>
      <span><%= @query.server %></span>
    </div>
    <div class="flex flex-col">
      <span class="text-lime-500 font-semibold">Duration</span>
      <span><%= @query.duration_ms %></span>
    </div>
  </div>

  <% if @query.dnssec_failed? %>
    <p class="p-4 bg-rose-600 text-rose-200 rounded-lg">
      The DNS response failed DNSSEC validation. This is often caused by expired
      signatures, misconfigured DNS zones, or key management issues. In rare
      cases, it could indicate a security issue such as DNS spoofing.
    </p>
  <% end %>

  <%= turbo_frame_tag :results, class: "block bg-black p-4 rounded-lg sm:text-lg border-2 border-neutral-800 overflow-hidden" do %>
    <%
      def button_classes(button)
        class_names(
          "px-3 py-1 tracking-wider",
          "bg-lime-500 text-black font-semibold" => @view == button,
          "text-neutral-300 font-medium" => @view != button
        )
      end
    %>
    <div class="flex flex-col">
      <div class="flex justify-between items-center">
        <span class="text-lime-500 font-semibold">Results</span>
        <% if @query.results.key?('json') && @query.results.key?('zone') %>
          <div class="flex text-sm rounded-lg overflow-hidden border border-lime-500" data-turbo-prefetch="false">
            <%= link_to 'JSON', query_path(@query, view: :json), class: button_classes('json') %>
            <%= link_to 'ZONE', query_path(@query, view: :zone), class: button_classes('zone') %>
          </div>
        <% end %>
      </div>
      <% if @query.results.key?('zone') && @view == 'zone' %>
        <pre data-controller="highlight" data-highlight-server-value="<%= @query.server.downcase %>" class="mt-1 opacity-0 transition"><code class="language-dns"><%= @query.results['zone'] %></code></pre>
      <% else %>
        <pre data-controller="highlight" data-highlight-server-value="<%= @query.server.downcase %>" class="mt-1 opacity-0 transition"><code class="language-json"><%= JSON.pretty_generate(@query.results['json'] || @query.results) %></code></pre>
      <% end %>
    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-3 bg-black p-4 rounded-lg sm:text-lg border-2 border-neutral-800">
    <div class="flex flex-col">
      <span class="text-lime-500 font-semibold">This Lookup</span>
      <%= text_field_tag :query, query_url(@query), class: "form-field__input mt-2", readonly: true, onclick: "this.select();" %>
    </div>
    <div class="flex flex-col">
      <span class="text-lime-500 font-semibold">Realtime Lookup</span>
      <%= text_field_tag :realtime_query, redirect_url(@query.redirect_params), class: "form-field__input mt-2", readonly: true, onclick: "this.select();" %>
    </div>
  </div>
</div>

<div class="flex p-4 text-xs text-neutral-600 justify-between">
  <% if @query.session_id == session.id.to_s %>
    <%= button_to "Remove", query_path(@query), method: :delete,
      form: { data: { turbo_confirm: "Are you sure?" } },
      class: 'hover:underline text-neutral-600 transition hover:text-white' %>
  <% end %>
  <div class="only:w-full only:text-center"><%= time_tag(@query.created_at, format: "%m/%d/%Y %l:%M%p %Z") %></div>
</div>
